@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Sedgwick+Ave+Display&display=swap");

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #010e1a;
  overflow: hidden !important;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sedgwick Ave Display", cursive !important;
font-family: "Barlow", sans-serif;
font-weight: bolder;
}

/* :root{
  --bgSection: #010101;
} */

main {
  max-height: 100vh !important;
  max-width: 1500px !important;
  margin: 0px auto;
  overflow-x: auto !important;
  padding: 60px;
}
aside {
  min-height: 90vh;
  max-height: auto;
  position: relative;
  transition: 0.7s;
  position: sticky;
  top: 0px;
  animation: asid 3s ease-in-out alternate-reverse;
}
@keyframes asid {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

aside header img {
  width: 150px;
  height: 170px;
  margin: 8px auto;
  display: block;
  border-radius: 8px;
  background: white;
  padding: 0px 10px;
}

aside header {
  position: relative;
}

aside header article {
  display: block;
  margin: 8px auto;
  padding: 10px;
  /* border-radius: 10px; */
  background: #091724bd;
  width: 80%;
  font-family: monospace;
  padding-top: 1rem;
  border-bottom: 2px solid gray;
}

aside header .openInfo {
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid white;
  width: 25px;
  height: 25px;
  display: none;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(320deg, #8a8a2ed5, #8a8a2ed5, orange);
}
aside header .openInfo:hover {
  background: linear-gradient(320deg, #e6e653d5, #c4c441d5, orange);
}

aside nav .line {
  margin: 0.6rem auto;
  width: 93%;
  border: 1px solid #010e1a;
  background: #010e1a;
  border-radius: 50px;
  padding: 3px 4px;
}
aside nav {
  transition: 0.7s;
}

aside nav .icn {
  width: 40px;
  height: 100%;
  background: teal;
  margin: 0px 6px;
  margin-left: 0px;
  padding: 5px 7px;
  border-radius: 50px;
}
aside nav .icn span {
  font-size: 1.5rem;
}
aside nav .text {
  margin: 0px 6px;
}
aside nav .text span {
  font-size: 0.8rem;
  color: gray;
}
aside nav .text p {
  letter-spacing: 1px;
}

aside .social-icons {
  width: 90%;
  padding: 1px 5px;
  margin: 1rem auto;
  margin-top: 2rem;
  /* border-bottom: 1px solid teal; */
}

aside .social-icons span {
  font-size: 1.5rem;
  margin: 0px auto;
  display: block;;
  color: #19ff00 !important;
}

.main {
  padding: 30px !important ;
  position: relative;
  animation: mai 1 s ease alternate-reverse;
}
@keyframes mai {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

.main .menu {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #091724bd;
  box-shadow: 0px 0px 3px #010e1a;
  background: #010e1a;
  /* border: 1px solid white; */
}
.main .menu button,
.portfolio-buttons button {
  background: #010e1a;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 1.1rem;
  border: none;
  margin: 0px 4px;
  padding: 0px 6px;
  cursor: pointer;
  transition: 0.4s;
}
.main .menu button:hover,
.portfolio-buttons button:hover {
  transform: scale(1.1);
  background: #091724bd;
}

.main p {
  margin-top: 8px;
  line-height: 23px;
  text-align: justify;
}

.card {
  width: 230px;
  height: 230px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 5px 7px 2px #010e1a;
  margin: 0.7rem 7px;
  transition: 0.4s;
  cursor: pointer;
  animation: car 3s ease-out alternate-reverse;
}

.card:hover {
  transform: scale(1.03);
}

.card span {
  font-size: 3rem;
  margin: 0.5rem auto;
}
.card h3 {
  color: #19ff00;
}
.card p {
  text-align: center;
}

.testmonial {
  border: 1px solid white;
  padding: 10px;
  width: 95%;
  height: auto;
  align-items: start !important;
  gap: 10px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 5px 7px 2px #010e1a;
  margin: 0.7rem 7px;
  transition: 0.4s;
  cursor: pointer;
  animation: ani 0.8s ease-in alternate-reverse;
  /* animation-direction: alternate; */
}

@keyframes ani {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.testmonial img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
}

.testmonial span {
  color: #19ff00;
  text-transform: uppercase;
  font-weight: bold;
  margin: 4px;
}
.testmonial p {
  text-align: left;
}

.btn-rl {
  padding: 5px 8px;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 0px 0px 7px #010e1a;
  background: #010e1a;
  cursor: pointer;
}

.btn-rl span {
  font-size: 1.5rem;
}

.team-block span {
  font-weight: bolder;
  font-size: 1.5;
  color: orange;
}
.team-block img {
  border-radius: 120px;
  width: 80px;
  height: 80px;
}
.team-block h3 {
  color: #19ff00;
}

.cv-container {
  border-left: 3px solid white;
  padding: 20px !important;
}
.education-cv {
  margin: 2rem 0px !important;
  width: 100%;
  padding: 0px 12px !important;
  border-left: 1px solid yellow;
  /* border-radius: 20px; */
  position: relative;
}
.education-cv::before,
.education-cv::after {
  content: "";
  border: 5px solid white;
  /* background: white; */
  border-radius: 50px;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -8px;
  top: -6px;
}

.education-cv::after {
  top: 95%;
  border: 5px solid wheat;
  bottom: -6px !important;
}

.education-cv h3 {
  margin: 1rem 0px;
}

.education-cv .cv-inner-block {
  margin: 0.6rem 0px;
}
.education-cv h4 {
  color: #19ff00;
  margin-left: 6px;
}
.education-cv p {
  margin-left: 20px;
  text-transform: capitalize;
}
.education-cv p span {
  font-weight: bolder;
  margin: 0px 12px;
}

.languages {
  padding: 10px 30px;
}

.languages .lang-container {
  width: 80%;
  margin: 1rem 0px;
}
.lang {
  margin: 0.9rem 0px;
}

.lang-container .lang span {
  color: #c4c3c3 !important;
  padding: 0px 5px;
  font-size: 0.8rem;
}
.lang-container .lang .bar {
  width: 100%;
  height: 15px;
  border: 1px solid yellow;
  margin-top: 6px;
  border-radius: 30px;
}
.lang-container .lang .bar .fill {
  width: 88%;
  height: 100%;
  border-radius: 30px;
  background: yellow;
}

.portfolio-buttons button {
  width: auto;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 4px 2px;
  border: 1px solid #585817;
}

.portfolio-buttons button:active {
  transform: scale(0.8);
}

.project {
  width: 220px;
  min-height: 200px;
  max-height: auto;
  border: 1px solid #494242;
  border-radius: 8px;
  margin: 0.7rem;
  transition: 0.6s;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 1px 9px 4px #010e1a;
  animation: proj 0.8s ease-in alternate-reverse;
}
@keyframes proj {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.6);
    opacity: 0.6;
  }
}

.project:hover {
  transform: scale(1.03);
}

.project .header {
  height: 73%;
  /* border: 1px solid white; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
}

.project .header img {
  height: 100%;
  padding: 4px;
  border-radius: 9px 9px 0px 0px;
}

.project .header .openInfo {
  transition: 0.4s;
  width: 99%;
  height: 99%;
  background: #50501dd5;
  position: absolute;
  top: 0;
  padding: 0px 15px;
  transform: translateY(-300px);
  transition: 0.6s;
}

.map-contact {
  height: 300px;
}

.map-contact iframe {
  border-radius: 8px !important;
}

.contact form {
  width: 98%;
  margin: 2rem auto;
  display: block;
}

.contact form fieldset {
  margin: 0.7rem auto;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #83832fd5;
}
.contact form fieldset:hover {
  box-shadow: 0px 0px 34px #494242;
}

.contact form fieldset legend {
  margin: 0px 6px;
  padding: 3px 5px;
  text-transform: capitalize;
  animation: leg 0.8s ease-in alternate-reverse;
  color: #ccc6c6f1;
  font-size: 0.8rem;
}

@keyframes leg {
  from {
    margin-bottom: 0px;
  }
  to {
    margin-bottom: -11px;
  }
}

.contact form fieldset input,
.contact form fieldset textarea {
  width: 100%;
  padding: 9px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
}
.contact form button[type="submit"] {
  width: 90px;
  height: 50px;
  padding: 8px 12px;
  font-size: 1.1rem;
  color: white;
  background: #091724bd;
  border: 1px solid #494242;
  border-radius: 4px;
  cursor: pointer;
  margin: 7px 9px;
  box-shadow: 0px 0px 20px #494242;
  transition: 0.7s;
}
.contact form button:hover {
  box-shadow: 0px 0px 34px #6d6c4d;
  background: linear-gradient(330deg, #ffff00d5, orange, orange, orange);
  animation: btn 3s alternate-reverse;
}
@keyframes btn {
  from {
    background: linear-gradient(300deg, orange, orange, orange, #ffff00d5);
  }
  to {
    background: linear-gradient(330deg, orange, #ffff00d5, orange, orange);
  }
}

.contact form button:active {
  transform: scale(0.7);
}

footer p {
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 300;
}
